---
/** LOCI EDIT PAGE */

import Layout from "@/layouts/Layout.astro";
import { LuFeather } from "react-icons/lu";
import Heading from "@/components/Heading";
import TableOfContents from "@/components/TableOfContents";
import Form from "@/edit/Form";
---

<Layout title="Loci">
  <TableOfContents client:only="react" />

  <section>
    <Heading client:load level={1}><LuFeather />New Locus</Heading>
  </section>

  <Form client:load />
</Layout>
