---
/** LOCI EDIT PAGE */

import Layout from "@/layouts/Layout.astro";
import { LuFeather } from "react-icons/lu";
import Heading from "@/components/Heading";
import SchemaForm from "@/components/SchemaForm";
import TableOfContents from "@/components/TableOfContents";
import schema from "~/STRchive-loci.schema.json";
---

<Layout title="Loci">
  <TableOfContents client:only="react" />

  <section>
    <Heading client:load level={1}><LuFeather />New Locus</Heading>
  </section>

  <SchemaForm
    client:only="react"
    schema={schema}
    sections={[
      "Overview",
      "IDs",
      "Locus",
      "Alleles",
      "Disease",
      "References",
      "Additional Literature",
    ]}
  />
</Layout>
