---
import { FaAngleDown, FaGithub } from "react-icons/fa6";
import { LiaBarcodeSolid } from "react-icons/lia";
import { LuDownload } from "react-icons/lu";
import Link from "@/components/Link";
import Layout from "@/layouts/Layout.astro";
import { deriveDatum } from "@/pages/loci/_derived";
import Table from "./_Table";
import hg19defs from "../../../../data/hg19.STRchive-disease-loci.TRGT.bed?url";
import hg38defs from "../../../../data/hg38.STRchive-disease-loci.TRGT.bed?url";
import data from "../../../../data/STRchive-database.json";
import t2tdefs from "../../../../data/T2T-chm13.STRchive-disease-loci.TRGT.bed?url";

const derivedData = data.map(deriveDatum);
---

<Layout title="Loci">
  <section>
    <h1><LiaBarcodeSolid />Loci</h1>

    Jump to:
    <Link to="#downloads" className="button-secondary"
      >Downloads<FaAngleDown /></Link
    >
    <Link to="#all-loci" className="button-secondary"
      >All Loci<FaAngleDown /></Link
    >
    <Link to="#visual-overview" className="button-secondary"
      >Visual Overview<FaAngleDown /></Link
    >
  </section>

  <section>
    <h2 id="downloads">Downloads</h2>

    <Link
      to="https://github.com/dashnowlab/STRchive/tree/main/data"
      className="button"
    >
      <FaGithub />Full Dataset
    </Link>
    <br />
    <br />

    <Link to="https://github.com/PacificBiosciences/trgt">TRGT definitions</Link
    > for genotyping in PacBio HiFi reads:

    <br />
    <br />

    <Link to={hg19defs} className="button" download>hg19<LuDownload /></Link>
    <Link to={hg38defs} className="button" download>hg38<LuDownload /></Link>
    <Link to={t2tdefs} className="button" download>T2T-chm13<LuDownload /></Link
    >
  </section>

  <section>
    <h2 id="table">Table</h2>

    <p class="center">
      Comprehensive table of tandem repeat loci associated with Mendelian
      disease.
    </p>

    <Table client:load data={derivedData} />
  </section>

  <section>
    <h2 id="plots">Plots</h2>

    <p class="center">High level, visual overview of loci.</p>

    <div class="plot-container">
      <div class="plots">
        <div>
          <h3>Pathogenic Size Range</h3>
          <iframe class="plot" src="/plots/path-size.html"></iframe>
        </div>
        <div>
          <h3>Age of Onset</h3>
          <iframe class="plot" src="/plots/age-onset.html"></iframe>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  iframe {
    border: none;
  }

  .plot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plots {
    --gap: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: stretch;
    width: calc(100vw - 120px);
    gap: 40px;
  }

  @media (max-width: 800px) {
    .plots {
      grid-template-columns: 1fr;
    }
  }

  .plot {
    width: 100%;
    height: 1030px;
    border-radius: var(--rounded);
    box-shadow: var(--box-shadow);
  }
</style>
