.form {
  display: grid;
  grid-template-columns: auto minmax(200px, 600px);
  gap: 20px;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: auto;
  }
}

.form > label {
  display: contents;
}

.field {
  display: flex;
  flex-direction: column;
}

.error {
  grid-column: 2;
  margin-top: -10px;
  color: var(--secondary);
  text-align: left;
}
