@import "tailwindcss";

@theme {
  --breakpoint-sm: 30rem;
  --breakpoint-md: 55rem;
  --breakpoint-lg: 70rem;

  --color-*: initial;

  --color-black: oklch(0% 0.005 210);
  --color-dark-gray: oklch(40% 0.005 210);
  --color-gray: oklch(65% 0.005 210);
  --color-light-gray: oklch(95% 0.005 210);
  --color-off-white: oklch(98% 0.005 210);
  --color-white: oklch(100% 0.005 210);

  --color-primary: oklch(65% 0.125 210);
  --color-secondary: oklch(65% 0.125 30);
  --color-tertiary: oklch(65% 0.125 340);

  --color-worst: oklch(65% 0.125 20);
  --color-bad: oklch(65% 0.125 30);
  --color-warn: oklch(65% 0.125 60);
  --color-okay: oklch(65% 0.125 220);
  --color-good: oklch(65% 0.125 190);
  --color-best: oklch(65% 0.125 180);

  --color-shadow: #00000020;

  --shadow-*: initial;
  --shadow-md: 0 0 10px var(--color-shadow), 2px 2px 4px var(--color-shadow);

  --radius-*: initial;
  --radius-sm: 5px;
  --radius-md: 10px;

  --font-sans: "Inter Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;

  --font-weight-*: initial;
  --font-weight-regular: 350;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
}

@layer base {
  html {
    @apply font-regular bg-white font-sans leading-normal text-black underline-offset-2;
    font-size: 105%;
  }

  body {
    @apply flex min-h-screen flex-col;
  }

  main {
    @apply flex grow flex-col;
  }

  header,
  footer,
  section {
    --width: 250;
    @apply even:bg-off-white flex flex-col gap-10 px-[calc(max(var(--spacing)*10,(100%-var(--width)*var(--spacing))/2))] py-12 last:grow odd:bg-white;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-regular flex scroll-mt-4 items-center gap-[0.5em] tracking-wide [&_svg]:opacity-25;
  }

  h1 {
    @apply justify-center text-center text-3xl uppercase;
  }

  h2 {
    @apply justify-center text-center text-2xl uppercase;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  strong,
  b {
    @apply font-bold;
  }

  a {
    @apply text-primary wrap-break-word underline transition hover:text-current;
  }

  img,
  svg {
    @apply shrink-0;
  }

  svg {
    @apply overflow-visible;
  }

  p {
    @apply leading-loose;
  }

  blockquote {
    @apply bg-light-gray flex max-w-full flex-col gap-2 rounded-md p-8 leading-loose;
  }

  label {
    @apply relative inline-flex items-center gap-4;

    & > span {
      @apply inline-flex items-center gap-2;
    }

    &:has([required]) > span::after {
      @apply text-secondary content-["*"];
    }

    &:has(input, textarea, select) {
      @apply cursor-pointer;
    }
  }

  input[type="checkbox"] {
    @apply cursor-pointer;
  }

  button,
  select {
    @apply inline-flex cursor-pointer items-center justify-center transition;
  }

  p > button,
  p > [tabindex] {
    @apply underline decoration-dashed underline-offset-2;
  }

  ul,
  ol {
    @apply list-[">"] pl-8 leading-loose;
  }

  li {
    @apply pl-2;

    &::marker {
      color: color-mix(in srgb, currentColor, transparent 50%);
    }
  }

  hr {
    @apply bg-light-gray h-0.5 border-none;
  }

  table {
    @apply border-collapse;
  }

  th {
    @apply border-light-gray border-b-2 px-2 py-4 font-medium;
  }

  td {
    @apply border-light-gray px-2 py-4 not-first:border-l;
  }

  thead tr {
    background: var(--color-off-white);
  }

  tbody tr {
    @apply even:bg-off-white odd:bg-white;
  }

  code {
    @apply bg-light-gray rounded-md px-2 py-1 font-mono;
  }

  dl {
    --cols: 1;
    @apply grid grid-cols-[repeat(var(--cols),auto_1fr)] items-center;
  }

  dt,
  dd {
    @apply inline-flex px-4 py-2;
  }

  dt {
    @apply text-gray font-medium;
  }

  dd {
    @apply mr-4;

    &:empty::after {
      @apply content-["—"];
    }
  }

  .icon {
    @apply h-[1em] w-[unset];
  }

  [aria-disabled="true"] {
    @apply pointer-events-none cursor-not-allowed opacity-25 grayscale;
  }
}

@utility width-full {
  --width: 9999;
}

@utility width-sm {
  --width: 175;
}

@utility box {
  @apply bg-light-gray inline-flex flex-col items-center gap-2 rounded-md px-4 py-2;
}
