.table {
  width: 100%;
}

.tags-cell {
  gap: 5px;
}

.search {
  width: 120px !important;
}

.motif-length {
  display: flex;
  align-items: center;
  gap: 5px;
}

.motif {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.motif-chars {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
