---
import Layout from "@/layouts/Layout.astro";
import { LuBadgeInfo, LuBookMarked, LuDownload } from "react-icons/lu";
import Button from "@/components/Button";
import Heading from "@/components/Heading";
import TableOfContents from "@/components/TableOfContents";
import CurationTable from "@/critria/CurationTable";
import curations from "~/criTRia-curations.json";
import sop from "~/criTRia-SOP.pdf?url";
---

<Layout title="criTRia">
  <TableOfContents client:only="react" />
  <section>
    <Heading client:load level={2}><LuBadgeInfo />criTRia</Heading>

    <p class="center">
      <strong>Learn more</strong> about the criTRia locus-disease curation framework:
    </p>

    <Button to={sop} design="bubble">
      <LuDownload /><span>SOP PDF</span>
    </Button>
  </section>

  <section>
    <Heading client:load level={2}>
      <LuBookMarked />Locus-disease curations
    </Heading>

    <CurationTable client:load curations={curations} />
  </section>
</Layout>
