---
import { FaNewspaper } from "react-icons/fa6";
import { LiaBarcodeSolid } from "react-icons/lia";
import Logo from "@/assets/logo.svg?react";
import Button from "@/components/Button";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
  <section
    class="relative z-0 bg-[radial-gradient(ellipse_at_0%_200%,var(--color-primary),transparent_75%),radial-gradient(ellipse_at_100%_200%,var(--color-secondary),transparent_75%)] bg-black bg-blend-normal text-white"
  >
    <div class="title">
      <Logo className="h-[75px] max-w-full" data-animated />
      <div
        class="mt-2.5 tracking-wider font-thin"
        role="heading"
        aria-level="1"
      >
        short tandem repeat archive
      </div>
    </div>

    <p class="text-center text-balance text-[1.2rem]">
      An archive of STRs associated with human diseases
    </p>

    <div
      class="flex max-w-full flex-wrap items-center justify-center gap-x-5 gap-y-2"
    >
      <Button to="/loci" design="bubble">
        <span>Loci</span><LiaBarcodeSolid />
      </Button>
      <Button to="https://doi.org/10.1186/s13073-025-01454-4" design="bubble">
        <span>Paper</span><FaNewspaper />
      </Button>
    </div>
  </section>

  <section>
    <p>
      Short Tandem Repeats (STRs) are a type of genetic variation that are
      associated with many rare diseases. Information about pathogenic STRs is
      often out-of-date and scattered across different databases, making it
      difficult to find and interpret STR variants.
      <b>STRchive</b> (<i>"ess tee archive"</i>) aims to solve this problem by
      providing a central community resource.
    </p>
  </section>
</Layout>
