---
import { LuBarcode, LuNewspaper } from "react-icons/lu";
import Logo from "@/assets/logo.svg?react";
import Button from "@/components/Button";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
  <section slot="header" class="bg-transparent text-white">
    <div class="flex flex-col items-center gap-4">
      <Logo className="h-20 max-w-full" data-animated />
      <div class="tracking-wider" role="heading" aria-level="1">
        short tandem repeat archive
      </div>
    </div>

    <p class="text-center text-lg text-balance">
      An archive of STRs associated with human diseases
    </p>

    <div class="flex flex-wrap items-center justify-center gap-4">
      <Button to="/loci" design="bubble">
        Loci<LuBarcode />
      </Button>
      <Button to="https://doi.org/10.1186/s13073-025-01454-4" design="bubble">
        Paper<LuNewspaper />
      </Button>
    </div>
  </section>

  <section class="width-sm">
    <p>
      Short Tandem Repeats (STRs) are a type of genetic variation that are
      associated with many rare diseases. Information about pathogenic STRs is
      often out-of-date and scattered across different databases, making it
      difficult to find and interpret STR variants.
      <strong>STRchive</strong> (<em>"ess tee archive"</em>) aims to solve this
      problem by providing a central community resource.
    </p>
  </section>
</Layout>
