---
import { FaNewspaper } from "react-icons/fa6";
import { LiaBarcodeSolid } from "react-icons/lia";
import Logo from "@/assets/logo.svg?react";
import Link from "@/components/Link";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
  <section class="hero">
    <div class="title">
      <Logo className="logo" data-animated />
      <div class="subtitle" role="heading" aria-level="1">
        short tandem repeat archive
      </div>
    </div>

    <p class="center tagline">
      An archive of STRs associated with human diseases
    </p>

    <div class="row">
      <Link to="/loci" className="button">
        <span>Loci</span><LiaBarcodeSolid className="big-icon" />
      </Link>
      <Link to="https://doi.org/10.1186/s13073-025-01454-4" className="button">
        <span>Paper</span><FaNewspaper className="big-icon" />
      </Link>
    </div>
  </section>

  <section>
    <p>
      Short Tandem Repeats (STRs) are a type of genetic variation that are
      associated with many rare diseases. Information about pathogenic STRs is
      often out-of-date and scattered across different databases, making it
      difficult to find and interpret STR variants.
      <b>STRchive</b> (<i>"ess tee archive"</i>) aims to solve this problem by
      providing a central community resource.
    </p>
  </section>
</Layout>

<style>
  .hero {
    z-index: 0;
    position: relative;
    background: var(--black);
    color: var(--white);
  }

  .hero::after {
    z-index: -1;
    position: absolute;
    inset: 0;
    background:
      radial-gradient(ellipse at 0% 200%, var(--primary), transparent 75%),
      radial-gradient(ellipse at 100% 200%, var(--secondary), transparent 75%);
    content: "";
    opacity: 0.5;
  }

  .logo {
    max-width: 100%;
    height: 75px;
  }

  .subtitle {
    margin-top: 10px;
    font-weight: var(--thin);
    letter-spacing: 0.05em;
  }

  .tagline {
    font-size: 1.2rem;
  }
</style>
