---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <section>
    Hello World
    <br />
    <br />
    <div class="colors">
      <span class="color" style="background: var(--primary)"></span>
      <span class="color" style="background: var(--secondary)"></span>
      <span class="color" style="background: var(--white)"></span>
      <span class="color" style="background: var(--light-gray)"></span>
      <span class="color" style="background: var(--gray)"></span>
      <span class="color" style="background: var(--dark-gray)"></span>
      <span class="color" style="background: var(--black)"></span>
    </div>
  </section>
</Layout>

<style>
  .colors {
    display: inline-flex;
    box-shadow: var(--box-shadow);
  }

  .color {
    width: 20px;
    height: 20px;
  }
</style>
