---
import Link from "@/components/Link.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Resources">
  <section>
    <h1>Resources</h1>
  </section>

  <section>
    <div class="grid">
      <div>
        <h2 id="computational-methods">Computational Methods</h2>

        <p>
          A selection of computational methods that we have either developed or
          used in our research. For a more comprehensive review of methods, see
          <Link to="https://doi.org/10.1038/s41576-024-00692-3">
            Tanudisastro et al. (2024)</Link
          >.
        </p>
      </div>

      <div>
        <h3>Short-read genotyping</h3>

        <ul>
          <li>
            <Link to="https://github.com/Illumina/ExpansionHunter"
              >ExpansionHunter</Link
            >
          </li>
          <li>
            <Link to="https://github.com/gymrek-lab/HipSTR">HipSTR</Link>
          </li>
          <li>
            <Link to="https://github.com/gymreklab/gangstr">gangSTR</Link>
          </li>
        </ul>
      </div>

      <div>
        <h3>Short-read novel locus detection</h3>

        <ul>
          <li>
            <Link to="https://github.com/quinlan-lab/STRling">STRling</Link>
          </li>
          <li>
            <Link to="https://github.com/Illumina/ExpansionHunterDenovo"
              >ExpansionHunter Denovo</Link
            >
          </li>
        </ul>
      </div>

      <div>
        <h3>Long-read genotyping</h3>

        <ul>
          <li>
            <Link to="https://github.com/PacificBiosciences/trgt">TRGT</Link>
          </li>
          <li>
            <Link to="https://github.com/PacificBiosciences/trgt-denovo"
              >TRGT-denovo</Link
            >
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="grid">
      <div>
        <h2 id="disease-repeat-catalogs">Disease Repeat Catalogs</h2>

        <ul>
          <li>
            <Link to="https://strchive.org/database/"
              >STRchive disease loci: TRGT format</Link
            >
          </li>
          <li>
            <Link
              to="https://github.com/broadinstitute/str-analysis/tree/main/str_analysis/variant_catalogs"
              >gnomAD disease loci: ExpansionHunter and TRGT formats</Link
            >
          </li>
          <li>
            <Link to="https://stripy.org/expansionhunter-catalog-creator"
              >STRipy disease loci: ExpansionHunter format</Link
            >
          </li>
        </ul>
      </div>

      <div>
        <h2 id="genome-repeat-catalogs">Genome Repeat Catalogs</h2>

        <ul>
          <li>
            <Link to="https://zenodo.org/records/13178746"
              >PlatinumTRs: 7.8 million reference TRs in TRGT format</Link
            >
          </li>
          <li>
            <Link to="https://github.com/Illumina/RepeatCatalogs"
              >174,293 polymorphic STRs: ExpansionHunter format</Link
            >
          </li>
          <li>
            <Link
              to="https://github.com/PacificBiosciences/trgt/blob/main/repeats/repeat_catalog.hg38.bed"
              >174,293 polymorphic STRs: TRGT format</Link
            >
          </li>
        </ul>
      </div>

      <div>
        <h2 id="databases">Databases</h2>

        <ul>
          <li>
            <Link to="https://gnomad.broadinstitute.org/short-tandem-repeats"
              >gnomAD: Tandem Repeats</Link
            >
          </li>
          <li>
            <Link to="https://stripy.org/">STRipy</Link>
          </li>
          <li>
            <Link to="https://www.ncbi.nlm.nih.gov/books/NBK535148/"
              >GeneReviews: Tandem Repeat Disorders</Link
            >
          </li>
          <li>
            <Link to="https://omim.org/">OMIM</Link>
          </li>
          <li>
            <Link to="https://webstr.ucsd.edu/pathogenic"
              >WebSTR pathogenic STRs</Link
            >
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <h3 id="definition-differences">
      Why do repeat locus definitions differ between resources?
    </h3>

    <p>
      There are often multiple ways to define a given repeat locus. For example,
      defining a locus as a stretch of perfectly repeting motifs tends to result
      in a narrower locus than strategies allowing for interruptions. In coding
      regions the locus boundary might be chosen to align with the reading
      frame.
    </p>

    <p>
      There are often multiple "correct" ways to define a given repeat locus,
      however careful consideration must be made to the downstream uses of the
      data. In particular, genotyping accuracy can be affected by the choice of
      locus definition.
    </p>

    <p>
      The loci in STRchive were defined to be broader, allowing for
      interruptions, and with consideration to the biological context and
      clinical utility of the locus. This strategy increases the chance that the
      locus will overlap with a relevant variant call when STRchive is used to
      annotate a VCF file. It is also the preferred approach to defining loci
      for improved genotyping accuracy with
      <Link to="https://github.com/PacificBiosciences/trgt">TRGT</Link>. In
      contrast,
      <Link to="https://github.com/Illumina/ExpansionHunter"
        >ExpansionHunter</Link
      >
      tends to perform better with narrower loci that exclude repeat interruptions.
      For this reason, repeat definitions used in
      <Link to="https://gnomad.broadinstitute.org/short-tandem-repeats"
        >gnomAD</Link
      >
      tend to be narrower than those used in STRchive.
    </p>
  </section>
</Layout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0 40px;
    text-align: left;
  }
</style>
