:root {
  --black: hsl(280, 5%, 0%);
  --dark-gray: hsl(280, 5%, 20%);
  --gray: hsl(280, 5%, 50%);
  --light-gray: hsl(280, 5%, 95%);
  --white: hsl(280, 5%, 100%);

  --primary: hsl(190, 60%, 45%);
  --secondary: hsl(5, 70%, 60%);
  --tertiary: hsl(320, 50%, 60%);

  --content: 1000px;
  --rounded: 10px;
  --fast: 0.25s ease;
  --shadow: #00000020;
  --box-shadow: 0 0 10px var(--shadow), 2px 2px 4px var(--shadow);

  --spacing: 2;
  --compact: 1.5;

  --thin: 200;
  --regular: 400;
  --medium: 500;
  --bold: 600;

  font-size: 13pt;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: var(--white);
  color: var(--black);
  font-weight: var(--regular);
  line-height: var(--compact);
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px max(40px, (100% - var(--content)) / 2);
  gap: 40px;
  text-align: center;
}

section.full {
  padding: 60px;
}

section:nth-child(even) {
  background: color-mix(in srgb, var(--white), var(--light-gray) 35%);
}

section:last-child {
  flex-grow: 1;
}

h1,
h2,
h3,
h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 20px;
  font-weight: var(--bold);
}

:is(h1, h2, h3, h4) > svg:first-child {
  opacity: 0.5;
}

h1 {
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

b {
  font-weight: var(--bold);
}

a {
  color: var(--primary);
  transition:
    background var(--fast),
    color var(--fast);
}

a:hover {
  color: currentColor;
}

img,
svg {
  flex-shrink: 0;
}

p {
  margin: 0;
  line-height: var(--spacing);
  text-align: justify;
}

blockquote {
  margin: 0;
  padding: 20px 30px;
  border-radius: var(--rounded);
  background: var(--light-gray);
  text-align: left;
}

label {
  display: inline-flex;
  position: relative;
  align-items: center;
  margin: 0;
  gap: 5px;
}

label > span {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

label:has([required]) > span::after {
  content: "*";
  color: var(--secondary);
}

label:has(input, textarea, select) {
  cursor: pointer;
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
}

input[type="checkbox"] {
  cursor: pointer;
}

button,
select {
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: currentColor;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  transition:
    background var(--fast),
    color var(--fast),
    box-shadow var(--fast);
}

button:hover,
select:hover {
  color: var(--primary);
}

p > button,
p > [tabindex] {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.2em;
}

ul,
ol {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  line-height: var(--spacing);
  list-style-type: ">";
  text-align: left;
}

li {
  padding-left: 10px;
}

li::marker {
  color: var(--dark-gray);
}

hr {
  height: 2px;
  margin: 0;
  border: none;
  background: var(--light-gray);
}

table {
  margin: 0;
  border-collapse: collapse;
}

th {
  padding: 5px 10px;
  border-bottom: solid 2px var(--light-gray);
  vertical-align: bottom;
}

td {
  padding: 5px 10px;
}

summary {
  appearance: none;
  list-style: none;
  cursor: pointer;
  transition:
    background var(--fast),
    color var(--fast);
}

summary::-webkit-details-marker {
  display: none;
}

dl {
  --cols: 3;
  display: grid;
  grid-template-columns: repeat(var(--cols), auto auto);
  gap: 10px 20px;
}

:has(> dl) {
  container-type: inline-size;
}

@container (max-width: 600px) {
  dl {
    --cols: 2;
  }
}
@container (max-width: 300px) {
  dl {
    --cols: 1;
  }
}

dt,
dd {
  display: inline-flex;
  margin: 0;
}

dt {
  color: var(--gray);
  font-weight: var(--medium);
}

dd:empty::after {
  content: "-";
  opacity: 0.5;
}

[disabled] {
  filter: saturate(0);
  opacity: 0.5;
  pointer-events: none;
}

.center {
  text-align: center;
  text-wrap: balance;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  gap: 10px 20px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  gap: 20px;
}

.icon {
  width: unset;
  height: 1em;
}

.big-icon {
  width: unset;
  height: 1.2em;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-lines {
  -webkit-line-clamp: var(--lines, 1);
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 600px), 1fr));
  place-items: stretch;
  width: 100%;
  gap: 40px;
}

.tippy-box {
  max-width: 350px;
  padding: 10px 15px;
  border-radius: var(--rounded);
  background: var(--dark-gray);
  color: var(--white);
  font-size: 1rem;
}

.tippy-arrow {
  z-index: 1;
  color: var(--dark-gray);
}

.tippy-content {
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 999px;
  background-color: var(--light-gray);
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: var(--gray);
}
