.form {
  display: grid;
  grid-template-columns: auto minmax(200px, 600px);
  gap: 20px;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: auto;
  }
}

.form > label {
  display: contents;
}

.link {
  text-decoration: underline;
}

.shrink {
  width: 0;
  min-width: 100%;
}
