.form {
  display: grid;
  grid-template-columns: auto minmax(200px, 600px);
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: auto;
  }
}

.form > label {
  display: contents;
}

.link {
  text-decoration: underline;
}
