---
import { FaLink } from "react-icons/fa6";
import { kebabCase } from "lodash-es";
import { stripHtml } from "string-strip-html";

let { level, id = "" } = Astro.props;
if (!id) id = stripHtml(await Astro.slots.render("default")).result;
id = kebabCase(id);
const Component = `h${level}`;
---

<Component id={id} class="heading">
  <slot />
  {
    id && (
      <a href={"#" + id} class="anchor" aria-label="Heading link">
        <FaLink />
      </a>
    )
  }
</Component>

<style>
  .heading {
    display: flex;
    align-items: center;
    gap: 0.5em;
    overflow-wrap: anywhere;
  }

  .heading :global(svg:first-child) {
    opacity: 0.5;
  }

  .anchor {
    color: var(--primary);
    white-space: nowrap;
    opacity: 0;
    transition: opacity var(--fast);
    width: 0;
  }

  .heading:hover .anchor,
  .anchor:focus {
    opacity: 1;
  }
</style>
