---
import Svg from "@cxa/astro-inline-svg";
import logo from "@/assets/logo.svg?raw";
---

<header>
  <Svg raw={logo} class="logo" aria-label="STRchive" />
  <nav>
    <a href="/">Link 1</a>
    <a href="/">Link 2</a>
    <a href="/">Link 3</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background: var(--black);
    color: var(--white);
    font-size: 1.1rem;
  }

  .logo {
    height: 40px;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }
</style>
