.chart {
  width: 100%;
}

.tooltip {
  font: inherit;
}

.tooltip > p {
  margin: 8px 0;
  line-height: var(--compact);
}

.tooltip > :first-child {
  margin-top: 0;
}

.tooltip > :last-child {
  margin-bottom: 0;
}
