.grid {
  display: grid;
  grid-template-columns: auto minmax(200px, 1fr);
  grid-auto-flow: row dense;
  width: 100%;
  gap: 20px;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: auto;
  }
}

.grid > label {
  display: contents;
}

.array {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto;
  grid-auto-flow: row dense;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: var(--rounded);
  box-shadow: var(--box-shadow);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.actions > * {
  min-width: 40px;
}

.error {
  margin-top: -10px;
  color: var(--secondary);
  text-align: left;
  overflow-wrap: break-word;
}

.full {
  grid-column: 1 / -1;
}

.heading {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
  text-align: left;
}
