.select {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  min-width: 40px;
  min-height: 40px;
  gap: 10px;
  border-radius: var(--rounded);
  background: var(--light-gray);
}

.options {
  display: flex;
  flex-direction: column;
  width: var(--button-width);
  border-radius: var(--rounded);
  background: var(--white);
  box-shadow: var(--box-shadow);
}

.option {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  cursor: pointer;
  transition: background var(--fast);
}

.option[data-focus],
.option:hover {
  background: var(--light-gray);
}

.icon {
  color: var(--primary);
}

.label {
  color: var(--gray);
}

.select > :first-child {
  flex-grow: 1;
}