.content:not(:has(:is(span, sup))),
.content:has(sup) span {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.content:not(:has(:is(span, sup))):hover,
.content:has(sup) span:hover {
  text-decoration: none;
}

.collapsed:hover:not(:has(:is(sup):hover)) {
  cursor: zoom-in;
}

.expanded:hover:not(:has(:is(sup):hover)) {
  cursor: zoom-out;
}
