.content {
  transition: color var(--fast);
}

.content:hover:not(:has(:is(sup):hover)) {
  color: var(--primary);
}

.content:not(:has(:is(span, sup))) {
  text-decoration: underline dotted 2px;
  text-underline-offset: 2px;
}

.content:has(sup) span {
  text-decoration: underline dotted 1px;
  text-underline-offset: 2px;
}

.collapsed:hover:not(:has(:is(sup):hover)) {
  cursor: zoom-in;
}

.expanded:hover:not(:has(:is(sup):hover)) {
  cursor: zoom-out;
}
