.box {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.button {
  padding: 0;
  background: none;
  color: var(--primary);
}

.button:hover {
  background: none;
  color: var(--black);
}
