.citation {
  position: relative;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 5px;
  text-align: left;
}

.citation:has(.number) {
  padding-left: 45px;
}

.number {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 999px;
  background: color-mix(in srgb, var(--primary), var(--white) 75%);
}
