.tag {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  border-radius: 999px;
  background: color-mix(in srgb, white, 20% var(--color));
  color: var(--black);
  text-decoration: none;
  transition:
    background var(--fast),
    color var(--fast);
}

.tag:hover {
  background: color-mix(in srgb, white, 50% var(--color));
}

.icon {
  color: var(--color);
}
