---
/** EDIT LOCUS PAGE */

import Layout from "@/layouts/Layout.astro";
import { LuFeather } from "react-icons/lu";
import Heading from "@/components/Heading";
import TableOfContents from "@/components/TableOfContents";
import EditForm from "@/locus/EditForm";
import loci from "~/STRchive-loci.json";

/** generate pages for each datum, paths based on id */
export const getStaticPaths = async () =>
  loci.map(({ id }) => ({ params: { id } }));

/** current page loci id in url */
const { id } = Astro.params;

/** look up full locus entry from id */
const locus = loci.find((locus) => locus.id === id) || {};
---

<Layout title="Edit Locus">
  <TableOfContents client:only="react" />

  <section>
    <Heading client:load level={1}><LuFeather />Edit Locus {locus.id}</Heading>
  </section>

  <EditForm client:only="react" locus={locus} />
</Layout>
