---
/** LOCI EDIT PAGE */

import Layout from "@/layouts/Layout.astro";
import { LuFeather } from "react-icons/lu";
import Heading from "@/components/Heading";
import SchemaForm from "@/components/SchemaForm";
import TableOfContents from "@/components/TableOfContents";
import loci from "~/STRchive-loci.json";
import schema from "~/STRchive-loci.schema.json";

/** generate pages for each datum, paths based on id */
export const getStaticPaths = async () =>
  loci.map(({ id }) => ({ params: { id } }));

/** current page loci id in url */
const { id } = Astro.params;

/** look up full locus entry from id */
const locus = loci.find((locus) => locus.id === id) || {};
---

<Layout title="Loci">
  <TableOfContents client:only="react" />

  <section>
    <Heading client:load level={1}><LuFeather />Edit Locus</Heading>
  </section>

  <SchemaForm
    client:only="react"
    schema={schema}
    data={locus}
    sections={[
      "Overview",
      "IDs",
      "Locus",
      "Alleles",
      "Disease",
      "References",
      "Additional Literature",
    ]}
  />
</Layout>
